$color_black : #020203;
$color_black2 : #000000;
$color_red : #E60000;
$color_red2: #FF0000;
$color_white: #FFFFFF;
$color_darkBlue :#282D30;
$color_grey: #74798C;
$color_whiteLight :#FBFBFB;

$font_roboto: 'Roboto', sans-serif;